.photo {
  border: 10px;
  border-style: solid;
  border-color: white;
  border-top-color: cornsilk;
  margin: 20px;


}



.image-gallery {

  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;



}








@media screen and (max-width:500px){
  .container{
      grid-template-columns: repeat(1,1fr);
  }
  .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
      grid-column:span 1;
  }
}


@keyframes move-down{

  0%{
      top:10%;
  }
  50%{
      top:35%;
  }
  100%{
      top:50%;
  }
}
